body {
    margin-top: 10px;
}

/* Hide desktop navbar by default, show it only on large screens */
.desktop-navbar {
    display: none;
  }
  
  @media (min-width: 768px) {
    .desktop-navbar {
      display: block;
    }
    .mobile-navbar {
      display: none;
    }
  }
  